@charset "UTF-8";

html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

body {
    color: #808080;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

a:link, a:visited, a:hover, a:active {
    color: #808080;
    text-decoration: none;
}

.header {
    border-bottom: solid 1px #dcdcdc;
    padding: 16px;
}

.logo {
    font-size: 1.2rem;
}

.contents {
    margin-bottom: 24px;
    text-align: center;
    padding: 32px 8px 0;
}

input {
    font-size: 4rem;
    margin-bottom: 32px;
    max-width: 100%;
}

.title-error-message,
.date-error-message {
    color: red;
    display: none;
    font-size: 1.4rem;
}

.year-box {
    font-size: 4rem;
    margin-bottom: 32px;
}

.and-box {
    margin-bottom: 24px;
}

.days-box {
    font-size: 4rem;
    margin-bottom: 48px;
}

.value {
    color: #1e90ff;
    font-size: 8rem;
}

.title {
    color: #333;
    font-size: 4rem;
}
