<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/images/favicon/manifest.json">
    <link rel="mask-icon" href="/static/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/images/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>from {{ .Title }} | How many days</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <header class="header">
        <h1 class="logo"><a href="/">How many days</a></h1>
    </header>
    <article class="contents" style="display: none">
        <div id="yearsBox" class="year-box">
            <div id="yearsValue" class="value"></div>
            <div>&nbsp;years</div>
        </div>
        <div id="andText" class="and-box">and</div>
        <div id="daysBox" class="days-box">
            <div id="daysValue" class="value"></div>
            <div>&nbsp;days</div>
        </div>
        <p>from</p>
        <p class="title-box"><span class="title">{{ .Title }}</span>({{ .Date.Format "2006-01-02" }})</p>
        <div>
            <button id="showYears">years</button>
            <button id="showDays">days</button>
        </div>
    </article>
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script>
    function showDays() {
        $("#daysValue").text(Math.floor(diffDays));
        $("#yearsBox").hide();
        $("#andText").hide();
        $("#daysBox").show();
    }
    function showYears() {
        var years = Math.floor(diffDays / 365);
        $("#yearsValue").text(years)
        $("#daysValue").text(Math.floor(diffDays) - (365 * years));
        if (years > 0) {
            $("#yearsBox").show();
            $("#andText").show();
        } else {
            $("#yearsBox").hide();
            $("#andText").hide();
        }
        $("#daysBox").show();
    }
    var date = Date.parse({{ .Date }});
    var diffMilliSec = new Date().getTime() - date;
    var diffDays = diffMilliSec / (1000 * 60 * 60 * 24)
    showYears();
    $(".contents").show();
    $("#showDays").click(showDays);
    $("#showYears").click(showYears);
</script>
</body>
</html>
