<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>from {{ .Title }} | How many days</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <header class="header">
        <h1 class="logo"><a href="/">How many days</a></h1>
    </header>
    <article class="contents" style="display: none">
        <div id="yearsBox" class="year-box">
            <div id="yearsValue" class="value"></div>
            <div>&nbsp;years</div>
        </div>
        <div id="andText" class="and-box">and</div>
        <div id="daysBox" class="days-box">
            <div id="daysValue" class="value"></div>
            <div>&nbsp;days</div>
        </div>
        <p>from <span class="title">{{ .Title }}</span></p>
        <div>
            <button id="showDays">days</button>
            <button id="showYears">years</button>
        </div>
    </article>
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script>
    function showDays() {
        $("#daysValue").text(Math.floor(diffDays));
        $("#yearsBox").hide();
        $("#andText").hide();
        $("#daysBox").show();
    }
    function showYears() {
        var years = Math.floor(diffDays / 365);
        $("#yearsValue").text(years)
        $("#daysValue").text(Math.floor(diffDays) - (365 * years));
        if (years > 0) {
            $("#yearsBox").show();
            $("#andText").show();
        } else {
            $("#yearsBox").hide();
            $("#andText").hide();
        }
        $("#daysBox").show();
    }
    var date = Date.parse({{ .Date }});
    var diffMilliSec = new Date().getTime() - date;
    var diffDays = diffMilliSec / (1000 * 60 * 60 * 24)
    showDays();
    $(".contents").show();
    $("#showDays").click(showDays);
    $("#showYears").click(showYears);
</script>
</body>
</html>
